{% load static %}

<!-- Javascript files-->
<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "js/popper.min.js" %}"></script>
<script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
<script src="{% static "js/jquery-3.0.0.min.js" %}"></script>
<script src="{% static "js/plugin.js" %}"></script>
<!-- sidebar -->
<script src="{% static "js/jquery.mCustomScrollbar.concat.min.js" %}"></script>
<script src="{% static "js/custom.js" %}"></script>
<script>
    function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    }
    
    function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    }
</script>